/* Style for the container that holds the images */
.cards {
    /* Allow elements to move to the next line when space is insufficient */
	align-items:flex-end;
    justify-content: flex-start; /* Align images to the start of the container */
}

/* Style for each individual image */
.cards img {
    margin: 10px; /* Margin around each image */
    border: 3px solid #000; /* 3px solid black border */
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3); /* Box shadow */
    max-width: 25vw; /* Maximum width of 25% of the viewport width */
    height: auto; /* Maintain aspect ratio */
}
